# Ignore everything
*

# Allow specific folders and files
!automation/
!automation/**
!Automation/
!Automation/**

!Dags/
!Dags/**
!dags/
!dags/**

!docker-compose*
!dockerfile
!requirements*
!.gitignore

# Ignore unwanted system & temp files
__pycache__/
*.log
*.zip
*.pyc
.env
logs/
config/
plugins/
