# Ignore everything
*

# Allow only specific folders and files
!automation/
!Automation/
!Dags/
!dags/
!docker-compose*
!dockerfile
!requirements*
!.gitignore

# Ignore temp and system files
__pycache__/
*.log
*.zip
*.pyc
.env
logs/
config/
plugins/
