fuzzywuzzy
pyxlsb
openpyxl
pandas
sqlalchemy
psycopg2-binary
numpy
python-Levenshtein     
cryptography
joblib
cryptography
azure-identity
azure-keyvault-secrets



# ML / Stats libs

scikit-learn==1.5.2
imbalanced-learn==0.12.4
matplotlib==3.7.2
seaborn==0.13.2